@model EntityLayer.Entities.Cart
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="modal-header">
    <h2>Satin Al</h2>
</div>
<div class="container">
    @*//<form></form> da kullanılabilir.*@
    @using (Html.BeginForm("Buy2", "Sales", FormMethod.Post))
    {
        <div class="modal-body">
            @Html.HiddenFor(x => x.Id)

            <div class="form-group">
                Kullanıcı Adı Soyadı:@Session["Ad"] @Session["Soyad"]
            </div>
            <div class="form-group">
                Ürün Bilgisi: @Html.DisplayFor(x => x.Product.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                Adet: @Html.DisplayFor(x => x.Quantity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <img src="@Model.Product.Image" width="90" height="90" />
            </div>
            <div class="form-group">
                Fiyat: @Html.DisplayFor(x => x.Price, new { @class = "form-control" })
            </div>
        </div>
        <div class="modal-footer" style="float:right">
            <button class="btn btn-success">Satın Al</button>
            <a href="/Cart/Index" class="btn btn-dark">İptal</a>
        </div>
    }
</div> 