@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EntityLayer.Entities.Sales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Satış Lisesi</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ürün Adı</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Resim</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Id</td>
                <td>@item.Product.Name   </td>
                <td>@item.Quantity </td>
                <td>@item.Price </td>
                <td><img src="~/Content/Image/@item.Product.Image" width="90" height="90" /></td>
                <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
            </tr>
        </tbody>
    }
</table>

@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.Classic)
